#cart-button {
    position: fixed;
    top: 30px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#cart-button:hover {
    background-color: gainsboro;
}

#cart {
    position: fixed;
    top: 50px;
    right: 10px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #dfe6e9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
}

#cart h2 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #2c3e50;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item-content span {
    font-size: 14px;
    color: #2c3e50;
}

.remove-item {
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.remove-item:hover {
    background-color: #ff4d4d;
}

.closeX {
    color: red;
    cursor: pointer;
}

#cart-notification, #cart-notification-del {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}

#cart-notification {
    background-color: #28a745;
    color: white;
}

#cart-notification-del {
    background-color: #ff0000;
    color: white;
}

#cart-notification.show, #cart-notification-del.show {
    opacity: 1;
    visibility: visible;
}

.cart-button-m {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

}

#checkout {
    position: relative;
    bottom: -10px;
    right: 0;
    background-color: #00b894;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    float: right;
    width: 150px; /* Зберігаємо ширину кнопки */
    height: auto; /* Зберігаємо висоту кнопки */
}

#checkout:hover {
    background-color: #00a884;
}

#checkout:disabled {
    background-color: #ccc; /* Сірий колір для неактивної кнопки */
    cursor: not-allowed; /* Заборона натискання */
}

@media (max-width: 968px) {
    #cart {
        top: auto; /* Скидаємо верхню позицію */
        bottom: 100px; /* Розташовуємо кошик вище кнопки cart-button-m */
        right: 35px; /* Вирівнюємо по правому краю, як і кнопка */
        width: 250px; /* Ширина кошика */
    }

    .cart-button-m {
        display: flex;
    }

    #cart-button {
        display: none;
    }
}