.contact-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-item {
    margin-bottom: 20px;
}

.contact-item h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 16px;
    color: #34495e;
}

.contact-item a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #0056b3;
}

.important-message {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.important-message h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.important-message p {
    font-size: 16px;
    color: #34495e;
    line-height: 1.6;
}