.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f9f9f9;
}

.product {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product h3 {
  font-size: 18px;
  margin: 15px 0 10px;
  color: #333;
}

.product p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-weight: bold;
}

.content_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.viber-button {
  background-color: #665CAC;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.viber-button:hover {
  background-color: #5a4d9c;
}

.add-to-cart {
  font-size: 20px;
  color: #fff;
  background-color: #007BFF;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

@media (max-width: 968px) {
  .products {
    gap: 15px;
    padding: 15px;
  }

  .product {
    width: calc(50% - 15px);
    max-width: 300px;
  }

  .content_btn {
    flex-direction: column;
    gap: 5px;
  }

  .viber-button {
    width: 100%;
    font-size: 12px;
    padding: 8px 10px;
  }

  .add-to-cart {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .products {
    padding: 10px;
  }

  .product {
    width: calc(50% - 10px);
    padding: 10px;
  }

  .viber-button {
    font-size: 10px;
    padding: 6px 8px;
  }

  .add-to-cart {
    font-size: 16px;
    padding: 6px;
  }
}

@media screen and (max-width: 768px) {
  #nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: gray;
    text-align: center;
  }

  #nav ul li {
    display: none;
    padding: 10px;
  }

  .toggleMenu {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    color: white;
  }

  #open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 1000;
    display: block;
  }
}